<%= form_with(model: registration, local: true) do |form| %>
  <% if registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.check_box :sex %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.datetime_select :birthday %>
  </div>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.application.credentials.publishable_key %>"
    data-description="A month's subscription"
    data-amount="1500"
    data-locale="auto"></script>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


