<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @registration.full_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @registration.company %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @registration.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @registration.age %>
</p>

<p>
  <strong>Address:</strong>
  <%= @registration.address %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @registration.sex %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @registration.birthday %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
